 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">BSc in Computer Science</h4>
    <h5 class="meta">University of Adelaide</h5>
    <div class="time">2015 - Present</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Diploma in Micro and Nanotechnology</h4>
    <h5 class="meta">Republic Polytechnic</h5>
    <div class="time">2011 - 2014</div>
</div><!--//item-->
</div><!--//education-container-->
